* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url("../img/theme-inn-yPSbirjJWzs-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center/center;
}

.container {
  margin: 4rem auto;
  width: 50%;
  height: 500px;
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 1px 1px 10px #666;
  text-align: center;
  align-items: center;
  padding: 2rem;
}

.container img {
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 50%;
  margin: 2rem 0;
  border: 1px solid #000;
}

.container p {
  line-height: 3rem;
  font-size: 1.1rem;
}

.container p span {
  font-weight: 800;
  font-style: normal;
}
